body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 3.5rem;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
    padding: 0;
}

textarea:focus, input:focus{
    outline: none;
}


.icon{
    width: 2.25rem;
    height: 2.25rem;
}

.session-title{
    font-size: 1.1em ;
    font-weight: 600;
    color: #65676B;
    margin-top: 1rem;
    margin-left: .5rem;
    margin-bottom: .75rem;
}


/* SCROLL BAR */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b6b8b9 ; 
    border-radius: 6px;
    width: 6px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-track:hover {
    background: #F0F2F5; 
  }